<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bug Tracker</title>
  </head>
  <body>
    <nav style="display: flex; align-items: center">
      <h1 style="flex-grow: 0"><a href="/">🪳 Bugtracker!</h1></a>
      <div style="display: flex; justify-content: space-evenly; flex-grow: 1"><a href="/file">File Ticket</a> <a href="/logout">Logout</a></div>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
