{% extends 'base.html' %} {% block content %}
<h2>{{hunter.username}}</h2>
<div>
  <h3>{{hunter.last_name}}, {{hunter.first_name}}</h3>
  <h3>{{hunter.email}}</h3>
</div>

<div>
  <h3>Tickets Filed</h3>
  <ul>
    {% for ticket in filed %}
    <li><a href="/tickets/{{ticket.id}}">{{ticket.title}}</a></li>
    {% endfor %}
  </ul>
</div>
<div>
  <h3>Tickets Assigned</h3>
  {% for ticket in assigned %}
  <li><a href="/tickets/{{ticket.id}}">{{ticket.title}}</a></li>
  {% endfor %}
</div>
<div>
  <h3>Tickets Completed</h3>
  {% for ticket in completed %}
  <li><a href="/tickets/{{ticket.id}}">{{ticket.title}}</a></li>
  {% endfor %}
</div>
{% endblock %}
