{% extends 'base.html' %} {% block content %}
<div>
  <h2>{{ticket.title}}</h2>
  <form action="/edit/{{ticket.id}}" method="post">
    {% csrf_token %}
    <input type="submit" value="Edit">
  </form>
  {% if ticket.status != "INVALID" %}
  <form action="" method="post">
    {% csrf_token %}
    <input type="submit" name="invalid" value="Invalidate" />
  </form>
  {% endif %}
</div>
<h3>{{ticket.status}}</h3>

<p>Created by: <a href="/users/{{ticket.filed_by.id}}">{{ticket.filed_by}}</a></p>

{% if ticket.assigned_to %}
<a>Assigned to: <a href="/users/{{ticket.assigned_to.id}}">{{ticket.assigned_to}}</a></p>
{% elif ticket.status != "DONE" and ticket.status != "INVALID" %}
<form action="" method="post">
  {% csrf_token %}
  <input type="submit" name="assign" value="Claim Ticket" />
</form>
{% endif %}

{% if ticket.completed_by %}
<p>Completed by: <a href="/users/{{ticket.completed_by.id}}">{{ticket.completed_by}}</a></p>
{% elif can_complete %}
<form action="" method="post">
  {% csrf_token %}
  <input type="submit" name="complete" value="Complete Ticket" />
</form>
{% elif ticket.status == "INVALID" %}
<p>Ticket unable to be completed</p>
{% else %}
<p>Not yet completed</p>
{% endif %}

<div>
  Details
  <div>{{ticket.description}}</div>
</div>
{% endblock %}
