{% extends 'base.html' %} {% block content %}
<h2>{{ticket.title}}</h2>
<h3>{{ticket.status}}</h3>
<p>Created by: <a href="/users/{{ticket.filed_by.id}}">{{ticket.filed_by}}</a></p>
{% if ticket.assigned_to %}
<a>Assigned to: <a href="/users/{{ticket.assigned_to.id}}">{{ticket.assigned_to}}</a></p>
{% else %}
<form action="" method="post">
  {% csrf_token %}
  <input type="submit" value="Claim Ticket" />
</form>
{% endif %}
<p>Completed by: {{ticket.completed_by}}</p>
<div>
  Details
  <div>{{ticket.description}}</div>
</div>
{% endblock %}
